/*

  Web 2.0

  Homework 1 Recipe

  Author: Jia Li

  School ID: 18342048

  Mail: GailLee666@outlook.com

  index.css
  
  The CSS file for index.html
*/

body {
	background-color: #FFFFCC;
	width: 100%;
	height: 100%;
}

.name{
	color:purple;
	text-align: center;
	font-family:'Comic Sans MS', cursive, sans-serif;
}
.waterfall{
	text-align: center;
}
.controls{
	text-align: center;
}
.tips{
	color:red;
}


