doctype html
html
    head
        title Sign Up
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        link(rel="stylesheet", href="../static/css/style.css")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.js")
        script(src="../static/js/register.js")
    body
        h2 用户注册界面
        form(action="http://localhost:8000", method="post")
            div
                span 用户名：
                input(type="text", name="name", id="name")
            p#name-tip
            div
                span 密码：
                input(type="password", name="pass", id="pass")
            p#pass-tip
            div
                span#repass-text 重复密码：
                input(type="password", name="re-pass", id="re-pass")
            p#repass-tip
            div
                span 学号：
                input(type="text", name="id", id="id",)
            p#id-tip
            div
                span 电话：
                input(type="text", name="phone", id="phone")
            p#phone-tip
            div
                span 邮箱：
                input(type="text", name="mail", id="mail")
            p#mail-tip
            div#btn
                input(type="button", id="reset", value="重置")
                input(type="button", id="submit", value="提交")
            div#warning
            div
                input(type="button", id="jump2", value="登录")